<!DOCTYPE html>
<html lang="en">
  <%- include('head'); %>
  <body class="text-center">
    <%- include('nav2'); %>
    <h1>Welcome To Motivate</h1>

    <small id="emailHelp" class="form-text text-muted d-block"
      ><%= message %></small
    >

    <div class="container">
      <!-- Button trigger modal -->

      <!-- Sign In Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Sign In!</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <form class="" method="POST" action="/login">
              <div class="modal-body">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input
                    type="email"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="Enter email"
                    name="email"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="exampleInputPassword1"
                    placeholder="Password"
                    name="password"
                    required
                  />
                </div>
              </div>

              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Button trigger modal -->

      <!-- Sign Up Modal -->
      <div
        class="modal fade"
        id="exampleModal2"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Sign Up!</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <form class="p-3" method="POST" action="/signUp">
              <div class="modal-body">
                <div class="form-group">
                  <label for="firstName">First Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="firstName"
                    placeholder="First Name"
                    name="fName"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="lastName">Last Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="lastName"
                    placeholder="Last Name"
                    name="lName"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail2">Email address</label>
                  <input
                    type="email"
                    class="form-control"
                    id="exampleInputEmail2"
                    aria-describedby="emailHelp"
                    placeholder="Enter email"
                    name="email"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword3">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="exampleInputPassword3"
                    placeholder="Password"
                    name="password"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword2">Re-enter Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="exampleInputPassword2"
                    placeholder="Password"
                    name="repassword"
                    required
                  />
                </div>
                <small class="form-text text-muted"
                  >We'll never share your email with anyone else.</small
                >
              </div>

              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <small id="emailHelp" class="form-text text-muted d-block"
        >Take a look at what other have posted!</small
      >
    </div>
    <%- include('footer'); %>
  </body>
</html>
